* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primære skrifttyper */
  --font-secondary: "Mali", cursive;
  --font-primary: "Cherry Bomb One", system-ui;

  /* ====== MALI FONT VARIABLER ====== */
  --font-mali: "Mali", cursive;

  --mali-extralight: 200;
  --mali-light: 300;
  --mali-regular: 400;
  --mali-medium: 500;
  --mali-semibold: 600;
  --mali-bold: 700;

  /* ====== CHERRY BOMB ONE VARIABLER ====== */
  --font-cherry: "Cherry Bomb One", system-ui;
  --cherry-regular: 400;

  /* Farver  */
  --color--background: #cff7ff;
}

h1 {
  font-family: var(--font-primary);
  letter-spacing: 0.2em;
}

html,
body {
  height: 100%;
  background-color: var(--color--background);
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  z-index: 1;
}

/* Knapper */
.cta {
  border-radius: 24px;
  border: none;
  padding: 24px;
  font-family: var(--font-primary);
  letter-spacing: 0.2rem;
  background-color: #70bcf3;
  box-shadow: 0 3px 1px black;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
}

.hidden {
  display: none !important;
}

/* INFO SCREEN  */
#infoScreen {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px); /* fx træk højden af footeren fra */
  overflow: visible;
}

.fishCard img {
  width: 150px; /* justér til fx 100–150 alt efter layout */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 100;
}

.fishCard img:hover {
  transform: scale(1.3);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
  width: 320px;
  text-align: center;
  font-family: var(--font-secondary);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-content img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

#modalVideo {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#closeModal {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Spillet  */
#gameScreen {
  display: flex;
  flex-direction: column; /* knap under screen */
  justify-content: center;
  align-items: center;
  gap: 10px; /* gap mellem button */
  width: 100%;
  height: 100vh;
}

#gameCanvas {
    background: #b3ecff;
    background-image: url("../img/game-baggrund-vector.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  /* buttom rykkes længer op */
#gameScreen .cta {
  margin-bottom: 20px;
}

/* FISK STYLING TIL START INFOSKÆRM */

.Sandspiser-gobi img {
  transform: scaleX(-1);
}





/* KEYFRAMES-ANIMATIONS FOR FISH */

/* keyframs for alle fisk som gør de kan animeres  */
@keyframes swim1 {
  0% {
    transform: translate(0, 0) scaleX(1);
  }

  5% {
    transform: translate(100px, -5px) scaleX(1);
  }

  10% {
    transform: translate(200px, 0) scaleX(1);
  }

  15% {
    transform: translate(300px, 5px) scaleX(1);
  }

  20% {
    transform: translate(400px, 0) scaleX(1);
  }

  25% {
    transform: translate(500px, -5px) scaleX(1);
  }

  30% {
    transform: translate(600px, 0) scaleX(1);
  }

  35% {
    transform: translate(700px, 5px) scaleX(1);
  }

  40% {
    transform: translate(800px, 0) scaleX(1);
  }

  45% {
    transform: translate(900px, -5px) scaleX(1);
  }

  50% {
    transform: translate(1000px, 0) scaleX(-1);
  }

  55% {
    transform: translate(900px, 5px) scaleX(-1);
  }

  60% {
    transform: translate(800px, 0) scaleX(-1);
  }

  65% {
    transform: translate(700px, -5px) scaleX(-1);
  }

  70% {
    transform: translate(600px, 0) scaleX(-1);
  }

  75% {
    transform: translate(500px, 5px) scaleX(-1);
  }

  80% {
    transform: translate(400px, 0) scaleX(-1);
  }

  85% {
    transform: translate(300px, -5px) scaleX(-1);
  }

  90% {
    transform: translate(200px, 0) scaleX(-1);
  }

  95% {
    transform: translate(100px, 5px) scaleX(-1);
  }

  100% {
    transform: translate(0, 0) scaleX(1);
  }
}

@keyframes swim2 {
  0% {
    transform: translate(50px, 0px) scaleX(1);
  }

  12.5% {
    transform: translate(35px, 35px) scaleX(1);
  }

  25% {
    transform: translate(0px, 50px) scaleX(-1);
  }

  37.5% {
    transform: translate(-35px, 35px) scaleX(-1);
  }

  50% {
    transform: translate(-50px, 0px) scaleX(-1);
  }

  62.5% {
    transform: translate(-35px, -35px) scaleX(-1);
  }

  75% {
    transform: translate(0px, -50px) scaleX(1);
  }

  87.5% {
    transform: translate(35px, -35px) scaleX(1);
  }

  100% {
    transform: translate(50px, 0px) scaleX(1);
  }
}

@keyframes swim3 {
  0% {
    transform: translate(0px, -80px);
  }

  5% {
    transform: translate(0, -80px);
  }

  10% {
    transform: translate(-5px, -100px);
  }

  15% {
    transform: translate(0, -150px);
  }

  20% {
    transform: translate(5px, -200px);
  }

  25% {
    transform: translate(0, -250px);
  }

  30% {
    transform: translate(-5px, -300px);
  }

  35% {
    transform: translate(0, -350px);
  }

  40% {
    transform: translate(5px, -400px);
  }

  45% {
    transform: translate(0, -420px);
  }

  50% {
    transform: translate(-5px, -430px);
  }

  55% {
    transform: translate(0, -420px);
  }

  60% {
    transform: translate(5px, -400px);
  }

  65% {
    transform: translate(0, -350px);
  }

  70% {
    transform: translate(-5px, -300px);
  }

  75% {
    transform: translate(0, -250px);
  }

  80% {
    transform: translate(5px, -200px);
  }

  85% {
    transform: translate(0, -150px);
  }

  90% {
    transform: translate(-5px, -130px);
  }

  95% {
    transform: translate(0, -100px);
  }

  100% {
    transform: translate(0px, -80px);
  }
}
@keyframes swim4 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-100px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-200px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-300px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-400px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-500px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-600px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-700px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-800px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-900px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-1000px, 0) scaleX(1);
  }

  55% {
    transform: translate(-900px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-800px, 0) scaleX(1);
  }

  65% {
    transform: translate(-700px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-600px, 0) scaleX(1);
  }

  75% {
    transform: translate(-500px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-400px, 0) scaleX(1);
  }

  85% {
    transform: translate(-300px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-200px, 0) scaleX(1);
  }

  95% {
    transform: translate(-100px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim5 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-10px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-20px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-30px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-40px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-50px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-60px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-70px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-80px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-90px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-100px, 0) scaleX(1);
  }

  55% {
    transform: translate(-90px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-80px, 0) scaleX(1);
  }

  65% {
    transform: translate(-70px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-60px, 0) scaleX(1);
  }

  75% {
    transform: translate(-50px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-40px, 0) scaleX(1);
  }

  85% {
    transform: translate(-30px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-20px, 0) scaleX(1);
  }

  95% {
    transform: translate(-10px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim5 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-10px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-20px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-30px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-40px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-50px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-60px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-70px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-80px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-90px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-100px, 0) scaleX(1);
  }

  55% {
    transform: translate(-90px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-80px, 0) scaleX(1);
  }

  65% {
    transform: translate(-70px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-60px, 0) scaleX(1);
  }

  75% {
    transform: translate(-50px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-40px, 0) scaleX(1);
  }

  85% {
    transform: translate(-30px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-20px, 0) scaleX(1);
  }

  95% {
    transform: translate(-10px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim6 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-30px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-60px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-90px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-120px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-150px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-180px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-210px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-240px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-270px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-300px, 0) scaleX(1);
  }

  55% {
    transform: translate(-270px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-240px, 0) scaleX(1);
  }

  65% {
    transform: translate(-210px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-180px, 0) scaleX(1);
  }

  75% {
    transform: translate(-150px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-120px, 0) scaleX(1);
  }

  85% {
    transform: translate(-90px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-60px, 0) scaleX(1);
  }

  95% {
    transform: translate(-30px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim6 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-30px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-60px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-90px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-120px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-150px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-180px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-210px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-240px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-270px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-300px, 0) scaleX(1);
  }

  55% {
    transform: translate(-270px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-240px, 0) scaleX(1);
  }

  65% {
    transform: translate(-210px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-180px, 0) scaleX(1);
  }

  75% {
    transform: translate(-150px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-120px, 0) scaleX(1);
  }

  85% {
    transform: translate(-90px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-60px, 0) scaleX(1);
  }

  95% {
    transform: translate(-30px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim7 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(10px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(20px, 0) scaleX(-1);
  }

  15% {
    transform: translate(30px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(40px, 0) scaleX(-1);
  }

  25% {
    transform: translate(50px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(60px, 0) scaleX(-1);
  }

  35% {
    transform: translate(70px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(80px, 0) scaleX(-1);
  }

  45% {
    transform: translate(90px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(100px, 0) scaleX(1);
  }

  55% {
    transform: translate(90px, 5px) scaleX(1);
  }

  60% {
    transform: translate(80px, 0) scaleX(1);
  }

  65% {
    transform: translate(70px, -5px) scaleX(1);
  }

  70% {
    transform: translate(60px, 0) scaleX(1);
  }

  75% {
    transform: translate(50px, 5px) scaleX(1);
  }

  80% {
    transform: translate(40px, 0) scaleX(1);
  }

  85% {
    transform: translate(30px, -5px) scaleX(1);
  }

  90% {
    transform: translate(20px, 0) scaleX(1);
  }

  95% {
    transform: translate(10px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

.Kejserfisk {
  animation: swim5 15s linear infinite;
}

.Klovnefisk {
  animation: swim2 5s linear infinite;
}

.Kirurgfisk {
  animation: swim7 15s linear infinite;
}

.Pudsefisk {
  animation: swim5 10s linear infinite;
}

.Blå-chromis {
  animation: swim4 18s linear infinite;
}

.Rævefjæs {
  animation: swim6 14s linear infinite;
}

.Sandspiser-gobi {
  animation: swim5 17s linear infinite;
}

.Kuglefisk {
  animation: swim3 20s linear infinite;
}

#characterSelect {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: calc(100vh - 200px);
}

.characterContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5rem;
  align-items: flex-start;
  justify-content: center;
  order: 1;
}

.characterOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.characterOption img {
  width: 150px;
  height: 150px;
  object-fit: contain; /* Sørger for at billedet ikke bliver strukket */
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.characterOption p {
  font-family: var(--font-mali);
  font-size: 14px;
  color: #012a36;
  text-align: center;
}

#playBtn {
  margin-top: 1rem;
  order: 2;
}

#chooseFish {
  order: 3;
  margin-top: auto;
  margin-bottom: 2rem;
}

.characterOption.selected {
  outline: 3px solid #00ffff;
  border-radius: 10px;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.characterOption.selected img {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
}
