* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primære skrifttyper */
  --font-secondary: "Mali", cursive;
  --font-primary: "Cherry Bomb One", system-ui;

  /* ====== MALI FONT VARIABLER ====== */
  --font-mali: "Mali", cursive;

  --mali-extralight: 200;
  --mali-light: 300;
  --mali-regular: 400;
  --mali-medium: 500;
  --mali-semibold: 600;
  --mali-bold: 700;

  /* ====== CHERRY BOMB ONE VARIABLER ====== */
  --font-cherry: "Cherry Bomb One", system-ui;
  --cherry-regular: 400;

  /* Farver  */
  --color--background: #cff7ff;
}

html,
body {
  height: 100%;
  background-image: url("../img/new.background.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* Cover sørger for at baggrunden skalerer og udfylder skærmen responsivt */
  background-size: cover;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  z-index: 1;
}

.hidden {
  display: none !important;
}

/* INFO SCREEN  */
#infoScreen {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px); /* fx træk højden af footeren fra */
  overflow: visible;
}

.fishCard img {
  width: 150px; /* justér til fx 100–150 alt efter layout */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 100;
}

.fishCard img:hover {
  transform: scale(1.2);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
  width: 320px;
  font-family: var(--font-secondary);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

#modalName {
  margin-bottom: 16px;
}

#modalVideo {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 16px;
}

#modalSize {
  margin-bottom: 10px;
}

#modalFact1 {
  margin-bottom: 10px;
}

#closeModal {
  position: absolute;
  top: 4px;
  right: 26px;
  font-size: 50px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* KEYFRAMES-ANIMATIONS FOR FISH */

/* keyframs for alle fisk som gør de kan animeres  */
@keyframes swim1 {
  0% {
    transform: translate(0, 0) scaleX(1);
  }

  5% {
    transform: translate(100px, -5px) scaleX(1);
  }

  10% {
    transform: translate(200px, 0) scaleX(1);
  }

  15% {
    transform: translate(300px, 5px) scaleX(1);
  }

  20% {
    transform: translate(400px, 0) scaleX(1);
  }

  25% {
    transform: translate(500px, -5px) scaleX(1);
  }

  30% {
    transform: translate(600px, 0) scaleX(1);
  }

  35% {
    transform: translate(700px, 5px) scaleX(1);
  }

  40% {
    transform: translate(800px, 0) scaleX(1);
  }

  45% {
    transform: translate(900px, -5px) scaleX(1);
  }

  50% {
    transform: translate(1000px, 0) scaleX(-1);
  }

  55% {
    transform: translate(900px, 5px) scaleX(-1);
  }

  60% {
    transform: translate(800px, 0) scaleX(-1);
  }

  65% {
    transform: translate(700px, -5px) scaleX(-1);
  }

  70% {
    transform: translate(600px, 0) scaleX(-1);
  }

  75% {
    transform: translate(500px, 5px) scaleX(-1);
  }

  80% {
    transform: translate(400px, 0) scaleX(-1);
  }

  85% {
    transform: translate(300px, -5px) scaleX(-1);
  }

  90% {
    transform: translate(200px, 0) scaleX(-1);
  }

  95% {
    transform: translate(100px, 5px) scaleX(-1);
  }

  100% {
    transform: translate(0, 0) scaleX(1);
  }
}

@keyframes swim2 {
  0% {
    transform: translate(50px, 0px) scaleX(1);
  }

  12.5% {
    transform: translate(35px, 35px) scaleX(1);
  }

  25% {
    transform: translate(0px, 50px) scaleX(-1);
  }

  37.5% {
    transform: translate(-35px, 35px) scaleX(-1);
  }

  50% {
    transform: translate(-50px, 0px) scaleX(-1);
  }

  62.5% {
    transform: translate(-35px, -35px) scaleX(-1);
  }

  75% {
    transform: translate(0px, -50px) scaleX(1);
  }

  87.5% {
    transform: translate(35px, -35px) scaleX(1);
  }

  100% {
    transform: translate(50px, 0px) scaleX(1);
  }
}

@keyframes swim3 {
  0% {
    transform: translate(0px, -80px);
  }

  5% {
    transform: translate(0, -80px);
  }

  10% {
    transform: translate(-5px, -100px);
  }

  15% {
    transform: translate(0, -150px);
  }

  20% {
    transform: translate(5px, -200px);
  }

  25% {
    transform: translate(0, -250px);
  }

  30% {
    transform: translate(-5px, -300px);
  }

  35% {
    transform: translate(0, -350px);
  }

  40% {
    transform: translate(5px, -400px);
  }

  45% {
    transform: translate(0, -420px);
  }

  50% {
    transform: translate(-5px, -430px);
  }

  55% {
    transform: translate(0, -420px);
  }

  60% {
    transform: translate(5px, -400px);
  }

  65% {
    transform: translate(0, -350px);
  }

  70% {
    transform: translate(-5px, -300px);
  }

  75% {
    transform: translate(0, -250px);
  }

  80% {
    transform: translate(5px, -200px);
  }

  85% {
    transform: translate(0, -150px);
  }

  90% {
    transform: translate(-5px, -130px);
  }

  95% {
    transform: translate(0, -100px);
  }

  100% {
    transform: translate(0px, -80px);
  }
}
@keyframes swim4 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-100px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-200px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-300px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-400px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-500px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-600px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-700px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-800px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-900px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-1000px, 0) scaleX(1);
  }

  55% {
    transform: translate(-900px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-800px, 0) scaleX(1);
  }

  65% {
    transform: translate(-700px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-600px, 0) scaleX(1);
  }

  75% {
    transform: translate(-500px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-400px, 0) scaleX(1);
  }

  85% {
    transform: translate(-300px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-200px, 0) scaleX(1);
  }

  95% {
    transform: translate(-100px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim5 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-10px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-20px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-30px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-40px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-50px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-60px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-70px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-80px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-90px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-100px, 0) scaleX(1);
  }

  55% {
    transform: translate(-90px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-80px, 0) scaleX(1);
  }

  65% {
    transform: translate(-70px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-60px, 0) scaleX(1);
  }

  75% {
    transform: translate(-50px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-40px, 0) scaleX(1);
  }

  85% {
    transform: translate(-30px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-20px, 0) scaleX(1);
  }

  95% {
    transform: translate(-10px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim5 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-10px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-20px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-30px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-40px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-50px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-60px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-70px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-80px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-90px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-100px, 0) scaleX(1);
  }

  55% {
    transform: translate(-90px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-80px, 0) scaleX(1);
  }

  65% {
    transform: translate(-70px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-60px, 0) scaleX(1);
  }

  75% {
    transform: translate(-50px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-40px, 0) scaleX(1);
  }

  85% {
    transform: translate(-30px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-20px, 0) scaleX(1);
  }

  95% {
    transform: translate(-10px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim6 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-30px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-60px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-90px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-120px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-150px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-180px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-210px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-240px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-270px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-300px, 0) scaleX(1);
  }

  55% {
    transform: translate(-270px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-240px, 0) scaleX(1);
  }

  65% {
    transform: translate(-210px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-180px, 0) scaleX(1);
  }

  75% {
    transform: translate(-150px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-120px, 0) scaleX(1);
  }

  85% {
    transform: translate(-90px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-60px, 0) scaleX(1);
  }

  95% {
    transform: translate(-30px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim6 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(-30px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(-60px, 0) scaleX(-1);
  }

  15% {
    transform: translate(-90px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(-120px, 0) scaleX(-1);
  }

  25% {
    transform: translate(-150px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(-180px, 0) scaleX(-1);
  }

  35% {
    transform: translate(-210px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(-240px, 0) scaleX(-1);
  }

  45% {
    transform: translate(-270px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(-300px, 0) scaleX(1);
  }

  55% {
    transform: translate(-270px, 5px) scaleX(1);
  }

  60% {
    transform: translate(-240px, 0) scaleX(1);
  }

  65% {
    transform: translate(-210px, -5px) scaleX(1);
  }

  70% {
    transform: translate(-180px, 0) scaleX(1);
  }

  75% {
    transform: translate(-150px, 5px) scaleX(1);
  }

  80% {
    transform: translate(-120px, 0) scaleX(1);
  }

  85% {
    transform: translate(-90px, -5px) scaleX(1);
  }

  90% {
    transform: translate(-60px, 0) scaleX(1);
  }

  95% {
    transform: translate(-30px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

@keyframes swim7 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }

  5% {
    transform: translate(10px, -5px) scaleX(-1);
  }

  10% {
    transform: translate(20px, 0) scaleX(-1);
  }

  15% {
    transform: translate(30px, 5px) scaleX(-1);
  }

  20% {
    transform: translate(40px, 0) scaleX(-1);
  }

  25% {
    transform: translate(50px, -5px) scaleX(-1);
  }

  30% {
    transform: translate(60px, 0) scaleX(-1);
  }

  35% {
    transform: translate(70px, 5px) scaleX(-1);
  }

  40% {
    transform: translate(80px, 0) scaleX(-1);
  }

  45% {
    transform: translate(90px, -5px) scaleX(-1);
  }

  50% {
    transform: translate(100px, 0) scaleX(1);
  }

  55% {
    transform: translate(90px, 5px) scaleX(1);
  }

  60% {
    transform: translate(80px, 0) scaleX(1);
  }

  65% {
    transform: translate(70px, -5px) scaleX(1);
  }

  70% {
    transform: translate(60px, 0) scaleX(1);
  }

  75% {
    transform: translate(50px, 5px) scaleX(1);
  }

  80% {
    transform: translate(40px, 0) scaleX(1);
  }

  85% {
    transform: translate(30px, -5px) scaleX(1);
  }

  90% {
    transform: translate(20px, 0) scaleX(1);
  }

  95% {
    transform: translate(10px, 5px) scaleX(1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

.kejserfisk {
  animation: swim5 15s linear infinite;
}

.klovnfisk {
  animation: swim2 5s linear infinite;
}

.kirurgfisk {
  animation: swim7 15s linear infinite;
}

.pudsefisk {
  animation: swim5 10s linear infinite;
}

.blå-chromis {
  animation: swim4 18s linear infinite;
}

.rævefjæs {
  animation: swim6 14s linear infinite;
}

.sandspiser-gobi {
  animation: swim5 17s linear infinite;
}

.kuglefisk {
  animation: swim3 20s linear infinite;
}

